# Project exclude paths
/.gradle/
/.idea/
/gradlew
/gradlew.bat
/StubCommon/build/
.DS_Store
GatlingTest/build/
PaymentSystem/build/
Theatre/build/
TicketApi/build/
TicketTransactionHandler/build/
build/libs/
build/tmp/
/test-reports/
/test-reports/
